#popWindow {
    width: 100%;
    margin: 0;
    padding: 0;
}

#myMap {
	height: 80vh; 
	margin: 15px 0 15px 0;
	border: 1px;
}

#disRange {
	text-align: center;
	background-color: aquamarine;
}

#label,#distanceDisplay {
	font-size: large;
	display: inline-block;
	vertical-align: middle;
}

#dis {
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}

#disRange>button{
	border-radius: 5px;
}

/* 背景層樣式 */
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
	filter: blur(1px); /* 模糊效果*/
	z-index: 5000; /* 位於其他元素上方 */
}

/* 彈出框 */
#popup {
	display: none;
	position: fixed; 
	top: 50%;
	left: 50%;
	width:80%;
	transform: translate(-50%, -50%);/*  將彈出框的中心定位在屏幕中心 */
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 5001; /* 位於背景層上方 */
}