.test {
    border: black solid 1px;
}

.testt {
    border: blue solid 1px;
}

span {
    color:#4C514C;
    font-weight: 500;
}

nav a {
    font-weight: bolder;
}

.orderPrice{
    font-weight: 700;
    font-size: 1.5rem;
   
}

.houseName {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.selectBtn {
    font-size: large;
    font-weight: 800;
    color: rgba(76, 81, 76, 1) ;
}

.unselectBtn {
    font-size: large;
    font-weight: 800;
    color: rgba(229, 229, 229, 1);
}


.houseCard {
    height: 20rem;
    width: 20rem;
}

.housetypeRadio {
    width: 75%;
    height: 150px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 50px;
    display: grid;
	align-items: center;
    border-radius: 10px;
    border: 1px solid ;
}

.housetypeRadio > input{ /* HIDE RADIO */
    display: none; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.housetypeRadio > input + div{ /* DIV STYLES */
    padding-left: 30px;
    color: #4C514C;
    border:2px solid transparent;
    border-radius: 10px;
}
.housetypeRadio > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #05aeae73;
    border: 1px solid #4C514C;
    height: 100%;
    display: grid;
	align-items: center;
    border-radius: 10px;
}


.houseInfo {
    width: 75%;
    height: 130px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 50px; 
    padding-left: 30px;
    color: #4C514C;
    border-radius: 10px;
    border: 1px solid ;
}

.verticalCenter{
    display: grid;
	align-items: center;
}

#price {
    border: 1px solid transparent;
}


.amenityCheckbox {
	width: 70%;
    height: 120px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 30px;
    display: grid;
	align-items: center;
    border-radius: 10px;
    border: 1px solid ;
}

.amenityCheckbox > input{ /* HIDE RADIO */
    display: none; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.amenityCheckbox > input + div{ /* DIV STYLES */
    color: #4C514C;
    border:2px solid transparent;
    border-radius: 10px;
}
.amenityCheckbox > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #05aeae73;
    border: 1px solid #4C514C;
    height: 100%;
    display: grid;
	align-items: center;
    border-radius: 10px;
}


